ORACLE_ID=oracle1
ORACLE_LABEL=Oracle 1
ORACLE_REGISTRY_PATH=registry/oracle1-v1.json
ORACLE_REGISTRY_API_URL=http://127.0.0.1:3000/api/public/oracle-registries
ORACLE_REGISTRY_REQUEST_TIMEOUT_MS=5000
ORACLE_HEALTH_PORT=3301
ORACLE_MODEL_VERSION=model-v1
ORACLE_MODEL_HASH=cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc
ORACLE_STATE_ROOT=../../data/oracle
ORACLE_POLL_INTERVAL_MS=1000
ORACLE_MAX_RETRY_ATTEMPTS=4
ORACLE_RETRY_BASE_MS=500
ORACLE_RETRY_MAX_MS=5000
FABRIC_NETWORK_ROOT=../../network
FABRIC_CHANNEL_NAME=insurance-channel
FABRIC_CHAINCODE_NAME=insurance-contract
FABRIC_ORACLE_PEER_ENDPOINT=localhost:13051
FABRIC_ORACLE_PEER_HOST_ALIAS=peer0.oracle.blockinsure.test
FABRIC_EVENT_START_BLOCK=0
